body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(236, 236, 236, 0.644);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 6vh;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* position: absolute; */

  gap: 30vw;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);

  margin-top: 0.5%;

  /* position: fixed; Position the footer at the bottom of the screen */
  /* bottom: 0; Stick it to the bottom of the screen */
}

.home {
  /* display: flex;
    flex-direction: column;  */
  min-height: 100vh;
}

.search-input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  border-color: #6c63ff;
  box-shadow: 0 2px 5px rgba(108, 99, 255, 0.3);
}

.Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 1%;
}

.card {
  position: relative;
  border-radius: 20px;
  margin-top: 3%;
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  width: 300px;
  background-size: cover;
  backdrop-filter: blur(8px);
  color: white;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(20px); Adjust the blur amount as needed */
  z-index: -1;
  border-radius: 20px;
  backdrop-filter: blur(8px);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 34vh;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-info img {
  width: 30px;
  height: 30px;
}

/* CartoonCard.css */

.icon {
  /* Add your regular styles for the icon */
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  transition: transform 0.3s ease; /* Apply the transition property for the animation */
}

.icon-clicked {
  /* Add styles for the icon when it's clicked */
  transform: scale(1.1); /* Scale the icon slightly when clicked */
background-color: saddlebrown;
}
