body{
  background-color: #14171D;
  color: white;
  text-align: center;
}
.navbar{
  display: flex;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-item{
  padding: 20px 30px;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
}
.centeredHome{
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
  height: auto;
  overflow: hidden;
}
.container .imgContainer{
  height: 50vh;
}
.container .imgContainer img{
  width: 1510px;
}
.container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* black with 50% opacity */
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  margin-top: 70px;
}
.searchInput{
  padding: 10px;
  font-size: 1.1rem;
  width: 300px;
  margin-top: 60px;
  margin-bottom: 10px;
}
.centeredCards{
    display: flex;
    justify-content: center;
    text-align:left;
}
.cartoonsCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    width: 100%;
  }
  .cartoonsCards img{
    width: 100%;
  }
  .card{
    flex: 0 auto;
    width: 18%;
    transition: all 0.3s ease 0s;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 0.3px rgb(109, 108, 108) solid;
  }
  .card:hover{
    filter: drop-shadow(0px 1px 6px #bfbcbc);
  }
  .card p, button{
    display: inline;
    margin: 0;
  }
  .card .movieName{
    margin-top: 20px;
    height: 50px;
  }
  .card .cartoonInfoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .favText{
    padding: 6px 15px;
  }
  p{
    color: #bfbcbc;
  }
  button{
    padding: 6px 15px;
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    background-color: black;
    border: 1px rgb(173, 171, 171) solid;
  }
  button:hover{
    background-color: rgba(255, 0, 0, 0.3);
  }
  .footer{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.3);
    backdrop-filter: blur(9px);
  }
  .aboutPage{
    margin-top: 10%;
  }
  .aboutPage h1{
    margin-bottom: 50px;
    margin-top: 10px;
  }
  @media only screen and (max-width: 1000px) {
    .card{
      width: 25%;
    }
    button{
      font-size: 0.7rem;
    }
    .aboutPage{
      margin-top: 12%;
    }
  }
  @media only screen and (max-width: 700px) {
    .card{
      width: 35%;
    }
    .aboutPage{
      margin-top: 20%;
    }
  }
  @media only screen and (max-width: 500px) {
    .card{
      width: 75%;
    }
    .aboutPage{
      margin-top: 30%;
    }
  }