body{

  text-align: center;
  background-color: rgb(220, 243, 197);
  font-family: Arial, Helvetica, sans-serif;
}
body h1{
  color: rgb(51, 86, 87);
}

.cartoonsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.cartoon-card {
 height: auto;
 width: 600px;
 padding: 25px;
 margin: 20px;
 border-radius: 15px;
 background-color: rgb(102, 175, 135);
 color: rgb(40, 47, 39);

}
.search{
  height: auto;
  width: 200px;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  background-color: rgb(198, 230, 212);
  color: rgb(40, 47, 39);
}